.home-staging-header {
  font-size: 4rem;
  font-family: "Courgette", cursive;
  margin: 50px 0;
  text-align: center;
}

.decluttering-header {
  font-size: 4rem;
  font-family: "Courgette", cursive;
  margin: 50px 0;
  text-align: center;
}
