@mixin btns {
  font-family: "Courgette", cursive;
  border-radius: 5px;
  font-size: 3.5rem;
  width: 250px;
  height: 80px;
  border: 0;
  text-align: center;
  padding-top: 20px;
  // cursor: initial;
  cursor: pointer;
  @media #{$desktop-small} {
    font-size: 2.5rem;
    padding-top: 25px;
    width: 170px;
    height: 80px;
  }
}
