//----- Primary Colors -----\\

$Tiffany: #0abab5;
$Turquoise: #40e0d0;
$Pretty-Pink: #f063b1;
$Super-White: #ffffff;
$Mega-Black: #000000;
$Baby-Blue: #81beef;
$Light-Pink: #f7a6e6;
$Wine-Red: #b1317b;

//----- Media Queries -----\\

$mobile: "only screen and (max-width:500px)";
$tablet-short: "only screen and (max-height:550px)";
$tablet-small: "only screen and (max-width:800px)";
$tablet: "only screen and (max-width:1220px)";
$desktop-smaller: "only screen and (max-width:1400px)";
$desktop-small: "only screen and (max-width:1650px)";
$desktop-large: "only screen and (max-width:1800px)";
