.meet-container {
  .mo-and-me {
    font-size: 5rem;
    text-align: center;
    font-family: "Marck Script", cursive;
    margin-top: 30px;
    @media #{$tablet-small} {
      font-size: 4rem;
    }
  }
  .who-we-are-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 40px;
    @media #{$tablet} {
      flex-direction: column;
    }
    .MoandMeLogo {
      width: 80%;
      margin-bottom: 30px;
    }
    .who-we-are-img {
      width: 20%;
      height: 20%;
      @media #{$tablet} {
        display: none;
      }
    }
    .who-we-are {
      font-size: 5rem;
      font-family: "Marck Script", cursive;
      text-align: center;
      color: $Tiffany;
      @media #{$tablet-small} {
        font-size: 4rem;
      }
    }
    .who-we-are-img2 {
      display: none;
      @media #{$tablet} {
        display: flex;
        align-self: center;
        height: 65%;
        width: 65%;
        margin-top: 25px;
      }
    }
    .who-we-are-inner-container {
      display: flex;
      flex-direction: column;

      .who-we-are-p {
        font-family: "Roboto", sans-serif;
        font-size: 3rem;
        width: 550px;
        margin-top: 30px;
        text-align: center;
        @media #{$tablet-small} {
          font-size: 2rem;
          width: 500px;
        }
        @media #{$mobile} {
          width: 390px;
        }
        @media #{$mobile-small} {
          width: 350px;
        }
      }
    }
  }
  .jamie-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 40px;
    @media #{$tablet} {
      flex-direction: column;
    }
    .jamie-inner-container {
      display: flex;
      flex-direction: column;

      .jamie {
        font-size: 5rem;
        font-family: "Marck Script", cursive;
        text-align: center;
        color: $Tiffany;
      }
      .jamie-img2 {
        display: none;
        @media #{$tablet} {
          display: flex;
          align-self: center;
          height: 65%;
          width: 65%;
          margin-top: 25px;
        }
      }
      .jamie-p {
        font-family: "Roboto", sans-serif;
        font-size: 3rem;
        width: 600px;
        margin-top: 30px;
        text-align: center;
        @media #{$tablet-small} {
          font-size: 2rem;
          width: 500px;
        }
        @media #{$mobile} {
          width: 390px;
        }
        @media #{$mobile-small} {
          width: 350px;
        }
      }
    }
    .jamie-img {
      width: 20%;
      height: 20%;
      @media #{$tablet} {
        display: none;
      }
    }
  }
  .morgan-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 40px 100px 40px;
    @media #{$tablet} {
      flex-direction: column;
    }
    .morgan-img {
      width: 25%;
      height: 25%;
      @media #{$tablet} {
        display: none;
      }
    }
    .morgan-inner-container {
      display: flex;
      flex-direction: column;
      .morgan {
        font-size: 5rem;
        font-family: "Marck Script", cursive;
        text-align: center;
        color: $Tiffany;
      }
      .morgan-img2 {
        display: none;
        @media #{$tablet} {
          display: flex;
          align-self: center;
          height: 65%;
          width: 65%;
          margin-top: 25px;
        }
      }
      .morgan-p {
        font-family: "Roboto", sans-serif;
        font-size: 3rem;
        width: 550px;
        margin-top: 30px;
        text-align: center;
        @media #{$tablet-small} {
          font-size: 2rem;
          width: 500px;
        }
        @media #{$mobile} {
          width: 390px;
        }
        @media #{$mobile-small} {
          width: 350px;
        }
      }
    }
  }
}
